.portfolio {
  background: #fff;
  padding: 5rem 0;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 3rem;
}

.portfolio-item {
  background: #3c3a39;
  padding: 1.3rem;
  border-radius: 2rem;
  border-radius: 1px solid transparent;
  transition: all 1s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.06);
  box-shadow: 2px 1px 4px 2px var(--primary-color);
}

.portfolio-img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio-item h3 {
  margin: 1.2rem 0 2rem;
  color: #fff;
}

.btn-container {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
