.contact {
  background: #fff;
  padding: 7rem 0;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 4rem;
  margin-top: 3rem;
}

.contact-description p {
  text-align: center;
  color: #172b4d;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2.5rem;
  cursor: default;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background: transparent;
  resize: none;
  color: #172b4d;
}

input {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  font-style: italic;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    width: 90%;
  }
}
