.contact-container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    margin-top: 3rem;
}

.contact-description p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2.5rem;
    cursor: default;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    resize: none;
    color: #fff;
}

textarea {
    font-style: italic;
}