header {
    height: 100vh;
    padding-top: 3rem;
    /* overflow: hidden; */
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

.intro {
    color: var(--primary-color)
}

.intro1 {
   color: var(--primary-color)
}

.intro2 {
    color: #fff;
}

.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header-socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: #fff;
}

a {
    color: #fff;
}

.image_container {
    width: 35rem;
    height: 35rem;
    display: grid;
    place-items: center;
    position: absolute;
    left: calc(50% - 17rem);
}

.header-image {
    background: #fff;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 2rem auto;
    z-index: 0;
}

.profile {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    z-index: 1;
}

.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.8rem;
}