header {
  height: 100vh;
  padding-top: 3rem;

  /* overflow: hidden; */
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

.intro {
  color: var(--primary-color);
}

.intro1 {
  color: var(--primary-color);
}

.intro2 {
  color: #fff;
}

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header-socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: #fff;
}

a {
  color: #fff;
  transition: 1s;
}

.header-socials a {
  transition: all 0.5s ease-in-out;
}

.header-socials a:hover {
  background: var(--secondary-color);
  padding: 0.3rem;
  border-radius: 50%;
  transform: scale(1.02);
}

.image_container {
  width: 35rem;
  height: 35rem;
  display: grid;
  place-items: center;
  position: absolute;
  left: calc(50% - 17rem);
}

.header-image {
  background: #fff;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 2rem auto;
  z-index: 0;
}

.profile {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
  z-index: 1;
  animation: rotate 1s linear;
  animation-iteration-count: 1;
  transition: all 1s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.profile:hover {
  transform: scale(1.1);
}

.scroll-down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 5rem;
  }

  .header-socials,
  .scroll-down {
    display: none;
  }

  .image_container {
    width: 25rem;
    height: 25rem;
    left: calc(50% - 12.5rem);
  }
}
